<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="images/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink = "/products">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/products">products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">contact</a>
        </li>
      </ul>
    </div>
    <div class="cart-section">
      <button type="button" class="btn position-relative cart-btn">
        <img src="images/cart-icon.png" alt="">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
          0
        </span>
      </button>
      <div>
        <p>total</p>
        <p>$0.00</p>
      </div>
    </div>
  </div>
</nav>