@if(productDetails())
{
  <section class="product-details">
    <app-navbar></app-navbar>
    <div class="product-details-container mt-5 pt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <img class = "product-details-container-product-img mb-5" [src]="productDetails().image" alt="">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="product-details-container-info">
              <p class="title">
                {{productDetails().title}}
              </p>
              <p class="price">
                {{productDetails().price | currency:"USD"}}
              </p>
              <p class="desc">
                {{productDetails().description}}
              </p>
              <div class="add-cart-container">
                <input type="number" value="1" min="1" />
                <button>add to cart</button>
              </div>
              <p class="categroy mt-4">
                category: <span>{{productDetails().category}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
}
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>